.shop-nav {
    border: 1px solid black;
    
}

.shop-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

#cart {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #444;
}