@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://use.typekit.net/bzm7kzn.css");


.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

img {
    width: 45vw;
}


.collection {
    background: white;
    margin: 0;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    position: relative;
}

button {
    border: 2.5px solid black;
    color: blue;
    background-color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 5px;
    width: 50%;
    height: 10%;
    white-space: nowrap;
    position: absolute;
    bottom: -10px;
    right: 5px;
  }

.hendrix-face-mask {
    margin: 0;
    margin-top: 5px;
    font-family: flower-power, sans-serif;
    color: #FF53E1;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    font-style: normal;
}

.collection-text {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    font-weight: 400;
}


/* Desktop media query */
@media (min-width: 426px) {
    img {
        width: 15vw;
    }

    .collection {
        padding: 20px 30px;
    }

    .collection-text {
        font-size: 0.9rem;
        font-family: 'Roboto Mono', monospace;
        width: 60%;
    }

    button {
        border: 2.5px solid black;
        color: blue;
        background-color: white;
        font-family: "Roboto Mono", monospace;
        font-weight: 5px;
        width: 20%;
        height: 30%;
        white-space: nowrap;
        position: absolute;
        bottom: -10px;
        right: 5px;
      }
    
}