.nav {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(96, 15, 113);
    font-weight: bold;
}

.nav-home, .nav-links {
    width: 50vw;

}

.nav-home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white; 
    margin: 40px;
}

.nav-link:hover {
    color: #ddd;
}
