@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.product {
    margin-top: 40px;
    padding: 10px;
    width: 200px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    
}

.product-type {
    margin-top: 0px;
    margin-bottom: 10px;
}

.product-name {
    text-align: left;
    margin-bottom: 5px;
}

.product-image {
    transition: all 100ms;
}

.product-image:hover {
    transform: scale(1.1)
}

.product-price {
    margin-top: 5px;
}

@media (max-width: 425px) {
    .product {
        font-size: 0.8rem;
    }
}
