@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.nav {
    font-family: 'Roboto Mono', monospace;
    margin: auto;
}

.nav-home, .nav-links {
    width: 30vw;
    margin: auto;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin: 10px;
    white-space: nowrap;
}

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    color: gray;
}

#logo {
    width: 400px;
}

.nav-home {
    margin-top: 10px;
    display: flex;
    justify-content: center
}

img {
    max-width: 90vw;
}