/* .footer {
  background-image: url("../../public/componentsLB/wavyblue.png");
} */

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policyLinks {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.formEmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  margin: 0;
  padding: 0;
}
